@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCCCCC;
}

.menu-horizontal {
    max-width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-horizontal .img-nome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffff;
    margin-right: 30rem;
    margin-left: 4.7rem;
}

.menu-horizontal .img-nome h2 {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-horizontal .img-nome img {
    width: 50px;
}

.menu-horizontal ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-width: 40%;
    flex-direction: row;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}

.menu-horizontal ul li {
    display: inline-block;
}

.menu-horizontal li a {
    color: white;
    text-decoration: none;
    display: inline;
    padding: 16%;
}

.menu-horizontal ul li a:hover {
    color: black;
    background-color: white;
    display: inline;
    padding: 17%;
    border-radius: 10px;
    transition: background .4s;
}

#filmes {
    display: grid;
    grid-template-columns: repeat(2, 750px);
    place-items: center;
    justify-content: center;
    padding: 1%;
}

#filmes img {
    border-radius: 50px;
    padding: 2%;
    width: 700px;
}

#serie {
    display: grid;
    grid-template-columns: repeat(2, 750px);
    place-items: center;
    justify-content: center;
    padding: 1%;
}

#serie img {
    border-radius: 50px;
    padding: 2%;
    width: 700px;
}

#games {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 750px);
    justify-content: center;
    padding: 1%;
}

#games img {
    border-radius: 50px;
    padding: 2%;
    width: 700px;
}

#paisagem {
   display: flex;
   flex-wrap: wrap;
   padding: 1%;
   justify-content: center;
}

#paisagem img {
    border-radius: 50px;
    padding: 1%;
    width: 744px;
}

#animes{
    display: flex;
    flex-wrap: wrap;
    padding: 0.6%;
    justify-content: center;
}

#animes img{
    border-radius: 50px;
    padding: 1%; 
    width: 750px;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 6%;
}